<div class="card comment-card">
    <div class="card-body">
      <div class="post-by">Posted by {{poster}} on {{format_time updated_time}}</div>
      <div class="post-detail">{{detail}}</div>
    </div>
</div>