<form>
  <div class="mb-3">
    <label for="firstname" class="form-label">First Name</label>
    <input type="text" class="form-control" id="firstname" aria-describedby="nameHelp">
  </div>
  <div class="mb-3">
    <label for="lastname" class="form-label">Last Name</label>
    <input type="text" class="form-control" id="lastname">
  </div>
  <div class="mb-3">
    <label for="sex" class="form-label">Sex</label>
    <input type="text" class="form-control" id="sex">
  </div>
  <div class="mb-3">
    <label for="interests" class="form-label">Interests</label>
    <input type="text" class="form-control" id="interests">
  </div>
  <div class="mb-3">
    <label for="avatar" class="form-label">Avatar</label>
    <input type="text" class="form-control" id="avatar">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>