


<div class="container">
  
  <div class="login-card">
    <h2 class="page-title">Login</h2>
    <div id="signin-status" class="form-error"></div>
    <form id="login-form" class="form">
      <div class="form-group">
        <label for="login-email">Email:</label>
        <input class="form-input" type="text" id="login-email" />
      </div>
      <div class="form-group">
        <label for="login-ps">Password:</label>
        <input class="form-input" type="password" id="login-ps" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">login</button>
      </div>
    </form>
  </div>


</div>

<script src="/assets/js/friendlist.js"></script>