<div class="container">
  
  <div class="login-card">
    <h2 class="page-title">Login</h2>
    <div id="signin-status" class="form-error"></div>
    <form id="login-form" class="form">
      <div class="form-group">
        <label for="login-email">Email:</label>
        <input class="form-input" type="text" id="login-email" />
      </div>
      <div class="form-group">
        <label for="login-ps">Password:</label>
        <input class="form-input" type="password" id="login-ps" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">login</button>
      </div>
    </form>
  </div>


  <div class="login-card">
    <h2 class="page-title">Signup</h2>
    <div id="signup-status" class="form-error"></div>
    <form id="signup-form" class="form">
      <input type="hidden" id="signup-user-type" value="H"/>
      <div class="form-group">
        <label for="signup-firstname">First Name:</label>
        <input class="form-input" type="text" id="signup-firstname" />
      </div>

      <div class="form-group">
        <label for="signup-lastname">Last Name:</label>
        <input class="form-input" type="text" id="signup-lastname" />
      </div>

      <div class="form-group">
        <label for="signup-username">Username:</label>
        <input class="form-input" type="text" id="signup-username" />
      </div>
      <div class="form-group">
        <label for="signup-email">Email:</label>
        <input class="form-input" type="text" id="signup-email" />
      </div>
      <div class="form-group">
        <label for="signup-ps">Password:</label>
        <input class="form-input" type="password" id="signup-ps" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Signup</button>
      </div>
    </form>
  </div>
</div>

<script src="/assets/js/login.js"></script>