<link rel="stylesheet" href="/assets/css/swipe.css" />


<div>
    <section class="container photos">
         {{!-- Carousel so the user can click through different photos of potential matches --}}
        <div id="carouselExampleControls" class="carousel" data-bs-ride="carousel">
        <div class="carousel-inner">
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
        </div> 

    </section>

    <section id="bio-sec">
        <div class="bio"></div>
    </section>

</div>

<div id="dislike-btn" class="swipe-option-btn"><img src="/assets/img/site/dislike.png"></div>
<div id="like-btn" class="swipe-option-btn"><img src="/assets/img/site/like.png"></div>


<script src="/assets/js/swipe.js" ></script>