<div>
    <section class="container photos">
         {{!-- Carousel so the user can click through different photos of potential matches --}}
        <div id="carouselExampleControls" class="carousel" data-bs-ride="carousel">
        <div class="carousel-inner">
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
        </div> 

    </section>

    <section class="container">
        <div class="row">

            <div class="col-1" id="dislike-btn">
                <button>dislike</butt>
            </div>

            <div class="col-10 bio">
            </div>
            
            <div class="col-1" id="like-btn">
                <button>like</button>
            </div>
        </div>
    </section>

</div>



{{{userDataString}}}
<script src="/assets/js/swipe.js" ></script>