<section id="new-post-sec">
  <a href="/matches" id="matches">Matches</a> <a href="/msg" id="matches">Message</a> 
</section>
<section class="user container">

{{#each users as |user|}}
{{> profile-list}}
{{/each}}

</section>

<script src="/assets/js/profile.js"></script>