{{!-- Form for the avatar --}}
<form enctype="multipart/form-data" id="avatar-form">
    <input type="file" accept=".jpeg, .jpg, .png" name="avatar" />
    <button type="submit">Upload Avatar</button>
</form>

{{!-- Form for the photos --}}
<form enctype="multipart/form-data" id="photo-form">
    <input type="file" accept=".jpeg, .jpg, .png" name="photos" />
    <button type="submit">Upload Photo</button>
</form>

<script src="./assets/js/user-profile.js"></script>