<section class="container photos">
        {{!-- Carousel so the user can click through different photos of potential matches --}}
    <div id="carouselExampleControls" class="carousel" >
    <div class="carousel-inner">

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
    </div> 

</section>


{{!-- Form for the avatar --}}
<form enctype="multipart/form-data" id="avatar-form">
    <input type="file" accept=".jpg" name="avatar" />
    <button type="submit">Upload Avatar</button>
</form>

{{!-- Form for the photos --}}
<form enctype="multipart/form-data" id="photo-form">
    <input type="file" accept=".jpg" name="photos" />
    <button type="submit">Upload Photo</button>
</form>

<script src="./assets/js/user-profile.js"></script>