/*CHAT*/
#chat-div {

    display: none;
    position: fixed; 
    border: 1px solid black;
    top: 0px;
    right: 0px;
    min-width: 450px;
    max-width: 450px;
    width: 100%; 
    height: 100%; 
    background-color: white;
    transition: 0.5s; 
    border-radius: 10px;
    overflow: hidden;
    margin: auto;
    z-index: 1000; /* Stay on top */
  }

  #chat-body{
    border: 1px solid black;
  }
  
#chatbox {

    display: block;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    margin-bottom: 60px;
  }
  
  #chatboxID{
  text-align: right;
  }
  
  
  #chatIdText {
    background-color: lightgrey;
    right: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    text-align: left;
    margin-left: 5px;
    margin-bottom: 10px;
  }


  

  #chat-div a {
  
    right: 25px;
    padding: 8px 8px 8px 20px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    transition: 0.3s;
  }
  
  #chat-div a:hover {
    color: red;
  }
  
  #chat-div .closebtn {
    display: block;
    position: absolute;
    top: 0px;
    font-size: 36px;
    text-align: right;
  }
  

  .chat-body {
    display: flex;
    flex-direction: column-reverse;
    top: 275px;
    right: 0;
    width: 100%; 
    height: 100%; 
    margin-right: 35px;
    background-color: white; 
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s; 
    border-radius: 10px;
  }
  


#chat-input {
    padding: 5px;
    border: 1px solid rgb(70, 70, 70);
    border-radius: 15px;
    width: 80%;
    height: 50px;
    margin-top: 5px;
    margin-right: 3px;

  }
  #send-btn {

    display: inline-block;
    width: 70px;
    height: 45px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: rgb(93, 179, 255);
    
  }
  
  #chat-textbox {
    position: absolute;
    background: rgb(206, 206, 206);
    bottom:0px;
    width: 100%;
    height: 60px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  
  
  }
  
  
.msg-div {

  display: block;
  width: 100%;
  box-sizing: border-box;
  margin-top: 15px;
  margin-bottom: 15px;
}

.msg-quote {
  display: inline-block;
  border-radius: 10px;
  padding: 10px;
  min-width: 100px;
  max-width: 300px;
}

  .msg-left {
    text-align: left;
    background-color: rgba(198, 198, 198, 0.8);
    color: black;
  }


  .msg-right {

    text-align: right;
    background-color: rgb(45, 115, 255, 0.8);
    color: white;

  }


 