

body {
  font-family: Arial;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
}

a {
  color: black;
  text-decoration: none;
}


#headerbar {
  display: block;
  text-align: center;
  height: 50px;
  color: white;
  background: repeat url("../img/headerbar.jpg");
  background-size: 1200px 200px;
  font-family: 'Pacifico', cursive;
}

#headerbar div {

  display: block;
  background-color: rgb(244, 84, 84, 0.3);
  font-size: 35px;
  padding: 10px;
  margin: auto;
}


nav {
  display: flex;
  background-color: rgba(0, 0, 0, 0.9);
  align-items: center;
  justify-content: center;
}

nav a {
  color: white;
  width: 150px;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

nav a:hover {
  color: rgb(0, 255, 229);
  background-color: black;
}







.form-error {

  color: red;
}


#delete-confirmation {

  display:none;
}