:root {
  --primary: #3d5852;
  --secondary: #86938f;
  --tertiary: #5e877f;
  --quatrinary: #6c6b67;
  --light: #e3e4e3;
  --dark: #182c23;
  --error: rgb(228, 46, 1);
  --border-radius: 0.3rem;
}

body {
  font-family: Arial;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
}

a {
  color: var(--dark);
  text-decoration: none;
}


#headerbar {
  padding: 40px;
  text-align: center;
  background: var(--primary);
  color: white;
  background: repeat 0 50% url("");
  background-size: 1100px 200px;
  font-family: 'Lobster', cursive;
}

#headerbar div {

  display:block;
  width: 370px;
  border-radius: 30px;
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 50px;
  padding: 10px;
  margin: auto;
}


nav {
  display: flex;
  background-color: rgba(71, 133, 60, 0.9);
  align-items: center;
  justify-content: center;
}

nav a {
  color: white;
  width: 150px;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

nav a:hover {
  color: var(--secondary);
  background-color: var(--dark);
}


#new-post-sec {

  display: block;
  text-align: center;
  margin: 20px;
}

#new-post-sec button {
  width: 250px;
  font-size: 30px;
  border-radius: 10px;
  padding: 5px;
}

#new-post-sec button:hover {
  background-color: antiquewhite;
  cursor: pointer;
  
}


#new-post {
  display:block;
  width: 500px;
  padding: 20px;
  margin: auto;
}

#new-post #post-detail {

  height: 100px;
}


#post-detail-sec {
  display: block;
  max-width: 800px;
  width: 100%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

#post-detail-sec header {

  display: block;
  color: var(--light);
  font-weight: bold;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
}



#post-detail-sec .post-by {
  font-size: 10px;
  color: gray;
  text-align: right;
  padding-top: 2px;
  padding-bottom: 2px;
}

.comment-card {

  height: 150px;
}

/* LAYOUT */
.container {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  gap: 20px;
  align-items: top;
  justify-content: center;
}


/* CARDS */
.card {
  
  flex: 0 1 300px;
  min-width: 200px;
  width: 300px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
  margin: 20px;
  padding: 0px;
}


.card header {
  display: block;
  color: var(--light);
  font-weight: bold;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
}

.card-body {
  display: block;
  text-align: left;
  margin: 5px 0px 5px 0px;
}

.card-body .post-by {
  font-size: 10px;
  color: gray;
  text-align: right;
  padding-top: 2px;
  padding-bottom: 2px;
}

.card-body .post-img {
  display: block;
  width: 300px;
  max-width: 300px;
  font-size: 10px;
  text-align: left;
  padding: 5px;
  overflow:hidden;
  box-sizing: border-box;
}

.card-body img {
  display: block;
  width: 280px;
}


.card-body .post-detail {
  display: block;
  color: rgb(47, 47, 47);
  padding: 5px;
}


.form-error {

  color: red;
}


#delete-confirmation {

  display:none;
}